@using LojaCarrosV2.Utilidade
@model LojaCarrosV2.PainelWeb.Models.UsuarioEditarVM

@{
    ViewBag.Title = "Editar";
    Layout = "~/Areas/master/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        @ViewBag.Title Usuario
    </div>
    <div class="panel-body">
        <div class="form-horizontal">

            @using (Html.BeginForm("editar", "usuario", FormMethod.Post))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(m => m.IdUsuario)

                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            @Html.LabelFor(model => model.IdPermissao, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.IdEmpresa, new SelectList(ViewBag.Empresa, "IdEmpresa", "Nome", ViewBag.Empresa = Model.IdEmpresa), "-Selecione-", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IdEmpresa, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.IdPermissao, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.IdPermissao, new SelectList(ViewBag.Permissao, "IdPermissao", "Nome", ViewBag.Permissao = Model.IdPermissao), "-Selecione-", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IdPermissao, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4"> @Html.LabelFor(u => u.Email)</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(u => u.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(c => c.Email, "", new { @class = "text-danger" })<div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-11">
                        <input type="submit" value="Salvar" class="btn btn-primary" />

                        @Html.LinkVoltar("Voltar")
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}