<div class="grid_7">
    <div class="col-md-4">
        <address class="footer-addr">
            Enrique Automóveis, <br>
            Estrada União Indústria n º 6.910, Nogueira<br>
            E-MAIL:<br />
            <a href="@Url.Action("Index", "Contato", new { area = "", controller = "Contato" }).ToLower()">contato@enriqueautomoveis.com.br</a>

            <div class="phone">
                <span>(24)</span> 2221-3544<br />
                <span>(24)</span> 98807-9040<br />
                <span>(24)</span> 99301-8374 <i class="fa fa-whatsapp"></i>
            </div>
        </address>
    </div>
    <div class="col-md-4 box_4">

        <div id="fb-root"></div>
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.4&appId=1570988313168798";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

        <div class="fb-page" data-href="https://www.facebook.com/enriqueautomoveis/?ref=hl" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/samcleartoldosepersianas?ref=hl"><a href="https://www.facebook.com/samcleartoldosepersianas?ref=hl">Enrique Automóveis</a></blockquote></div></div>


    </div>


    <div class="col-md-4">
        <ul class="list_2">
            <li>
                <a href="http://www.fipe.org.br/pt-br/indices/veiculos/" target="_blank">Tabela FIPE</a>
            </li>
            <li>
                <a href="http://www.detran.rj.gov.br/_documento.asp?cod=3565" target="_blank">Calendario de Vistoria @DateTime.Now.Year</a>
            </li>
            <li>
                <a href="http://www.detran.rj.gov.br/_documento.asp?cod=6068" target="_blank">Calendario de IPVA @DateTime.Now.Year</a>
            </li>
            <li>
                <a href="http://www.detran.rj.gov.br/" target="_blank">Detran RJ</a>
            </li>
            <li>
                <a href="https://www.ib2.bradesco.com.br/ibpfdebitoveiculorj/debitoVeiculoRJLoader.do" target="_blank">Emissões de DUDA</a>
            </li>
            <li>
                @using LojaCarrosV2.Web.classes;
                @{
                    ViewBag.DiretorioPainel = Constantes.DiretorioPainel.ToString() + "login";
                }
                <a href="@ViewBag.DiretorioPainel" target="_blank">Area restrita</a>
            </li>
        </ul>
    </div>
    <div class="clearfix"> </div>
</div>
<div class="copy">
    <p>   &copy; @DateTime.Now.Year Desenvolvido por <a href="https://www.facebook.com/davimayara.f" target="target_blank">Davi França</a> </p>
</div>

<a href="#" id="toTop"> </a>