<div class="header">
    <div class="col-xs-4">
        <div class="logo">
            <a href="@Url.Action("index", "home", new { area = "" })"><img src="~/images/logo5.png" alt="" /></a>
        </div>
    </div>
    <div class="col-xs-8 header_right">
        <span class="menu"></span>
        <div class="top-menu">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("index", "home", new { area = "" })"><i class="fa fa-home"> </i> Home</a></li>
                <li><a href="@Url.Action("sobre", "home", new { area = "" })"><i class="fa fa-star"> </i> Sobre</a></li>
                <li><a href="@Url.Action("index", "veiculos", new { area = "" })"><i class="fa fa-car"></i>Veiculos</a></li>
                <li><a href="@Url.Action("rj", "detran", new { area = "" })"><i class="fa fa-car"></i>Nada cosnta</a></li>
                <li><a href="@Url.Action("index", "contato", new { area = "" })"><i class="fa fa-envelope-o"> </i>Contato</a></li>
            </ul>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
